body{
  background-color:#FFF0F5;
}
h1
{
  color: black;
}
h2
{
  color:Blue;
}
img{
  background-color:#FFF0F5;
}
table
{
  border-collapse: collapse;
}
table,td{
  border-width: 0px 10px 20px 30px;
  padding: 10px;
  border: 1px solid black;
}
#Examples{
  background-color: #E0FFFF;
}
#link{
  background-color: white;
}
@media (max-width:1028px) {
  h1{
    text-align: center;
  }
  }
